body {
    background: black;

    font-family: "Coming Soon";
}

#container {
    max-width: 960px;
    min-height: 640px;
    left: 0px;
    position: relative;
    background: url('common/turnScreen01.jpg') 50px 50px no-repeat;
}

#arrow {
    background: url('common/arrow.png');
    width: 153px;
    height: 122px;
    position: absolute;
    animation: arrowMove 1s;
    -webkit-animation: arrowMove 1.5s;
    -webkit-animation-iteration-count: infinite;

}

#accessPanel {
    /*display: none;*/
    position: absolute;
    left: 30%;
    top: 10%;
    z-index: 1000;
    width: 350px;
}

form#accessForm {
    padding: 25px;
}

form#accessForm h1 {
    margin-left: 75px;
    margin-top: 40px;
}

form#accessForm input {
    display: block;
    font-family: "Coming soon";

    /*width: 250px;*/
    /*height:40px;*/
    font-size: 21px;
    border-radius: 5px;
}

form#accessForm * {
    margin-top: 10px;
}

#topFlag {
    width: 350px;
    height: 200px;
    background: url("common/MrGrizzyBg.png") no-repeat;
    position: absolute;
    left: -32px;
    z-index: -1;
    top: -30px;
}

.button {
    color: white;
    background: #e62739;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 21px;
    font-family: "Coming soon";

}

form#accessForm input[type='checkbox'] {
    display: inline;
    width: 20px;
    height: 20px;
}

form#accessForm input[type='submit'] {
    width: 150px;
    display: inline;
}

form#accessForm button {

}

@-webkit-keyframes arrowMove {
    from {
        -webkit-transform: rotate(0deg);
        top: 10px;
        left: 100px;
    }
    to {
        top: 100px;
        left: 50px;
        -webkit-transform: rotate(-30deg);
    }

}

#skip_video {
    position: absolute;
    font-size: 24px;
    width: 300px;
    left: 25%;
    bottom: 10%;
    z-index: 1;
    font-family: 'Coming soon', Arial, sans-serif;
}

video {
    top: -17px;
    left: 0px;
    height: 100%;
}

body:-webkit-full-screen {

    width: 100%;
    margin: 0px auto;
    height: 100%;
}

body:-moz-full-screen {
    width: 100%;
    height: inherit;
}

/*#myelement:-webkit-full-screen	{ width:100%; height:inherit; }*/
/*#myelement:-moz-full-screen { width: 100%; height: inherit; }*/
#myelement:-ms-full-screen {
    width: 100%
}

#myelement:-o-full-screen {
    width: 100%
}

#myelement:full-screen {
    width: 100%
}

canvas {
    height: 110%;
}

/* TODO: Adapt the tablets */
@media (min-width: 960px) {

}



